<app-menu></app-menu>

<div class="container-fluid" style="background-color:white;">
  <div class="row" id="rowQuien">
    <div class="col" id="QuienSoy">
      <h3 class="margin">Quién Soy?</h3>
      <img src="./assets/imagenes/pp.jfif" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="250" height="250">
      <h3>Federico Ramundo</h3>
    </div>
    <div class="col" >
      <h3 class="margin">Esto es un trabajo práctico</h3>
      <p>Dentro de esta aplicacion se realizo un juego donde se debe adivinar una bandera obtenida por un servicio</p>    </div>
  </div>

  



  
  <!-- Third Container (Grid) -->
  <div id ="donde" class="container-fluid bg-3 text-center">    
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/programs.png"  height = "150"  width= "5" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/phone.jfif" height = "150"  width= "100" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/os.png" height= "150" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center" id="foot">
    Modificado por Federico Ramundo
  </footer>