<app-menu></app-menu>

<hr>

<ul class="nav" id="navigation">
  <li class="nav-item">
    <a class="nav-link" (click)="TraerTodos()">Todos los jugadores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="TraerGanadores()">Los ganadores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="TraerPerdedores()">Los perdedores</a>
  </li>
</ul>




<hr>
<table class="table table-striped" id="tablaResults" class="mat-elevation-z8" style="width: 100%; padding: 10px;">
  <thead id="theadResults">
      <tr>
        <th>Usuario</th>
        <th>Victorias</th>
        <th>Derrotas</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado" >
      <td>{{jugador.user}} </td>
      <td>{{jugador.victorias}} </td> 
      <td>{{jugador.derrotas}} </td> 
    </tr>
  </tbody>
</table>