
  <body>
<div id="container">
  <div class="card-group">


    <div class="card">
      <img class="card-img-top" src="./assets/imagenes/paper.jfif"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Piedra Papel o Tijera</h5>
        <p class="card-text">Juega contra la maquina!</p>
      </div>
      <div class="card-footer">
        <button class="button"  (click)="Juego('PPT')">Jugar</button>      </div>
    </div>


    <div class="card" style="margin-left:20px;">
      <img class="card-img-top" src="./assets/imagenes/adivina2.jfif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Adivina el número secreto</h5>
        <p class="card-text">Juego de estrategia</p>
      </div>
      <div class="card-footer">
        <button class="button"  (click)="Juego('PPT')">Jugar</button>     
    </div>

    </div>


  </div>

</div>

<div id="container">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="./assets/imagenes/brain.jfif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Velocidad y agilidad aritmética</h5>
        <p class="card-text">Juego de agilidad mental</p>
      </div>
      <div class="card-footer">
        <button class="button"  (click)="Juego('PPT')">Jugar</button>     
    </div>


    </div>

    <div class="card" style="margin-left:20px;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Juego Propio</h5> 
        </div>
        <div class="card-footer">
          <button class="button"  (click)="Juego('PPT')">Jugar</button>     
      </div>
  
    </div>



  </div>
</div>

</body>