


<form name="juego">
<ul>
  <p>
   Primer número: <input   placeholder="{{nuevoJuego.numero1}}" name="nuevoJuego.numero1" type="text" class="form-control" style="width:50%" readonly/>
   <p>
  <p>
   Operador: <input  placeholder="{{nuevoJuego.operador}}" nname="nuevoJuego.operador" type="text" class="form-control" style="width:50%" readonly/>
  <p>
    
    <p>
   Segundo número: <input   placeholder="{{nuevoJuego.numero2 }}" name="nuevoJuego.numero2" type="text" class="form-control" style="width:50%" readonly/>
  </p>

  <p>
    Respuesta: <input [disabled]="!jugando" [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="Ingrese un Numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>
  </p>

  <br>
    <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-danger btn-lg">Verificar {{Tiempo}} </button></h2>
    <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()" class="btn btn-dark btn-lg">Jugar</button></h2>

    
    <h3 [hidden]="!nuevoJuego.gano">Usted adivino el número</h3>
    <h3 [hidden]="nuevoJuego.gano">Usted aún no gano </h3>
</ul>

</form>


<div id="snackbar">{{Mensajes}}</div>