<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->
<hr>


  <table class="table table-striped" id="tablaResults" class="mat-elevation-z8" style="width: 100%; padding: 10px;">
    <thead id="theadResults">
        <tr>
          <th>Juego</th>
          <th>Jugador</th>
          <th>Resultado</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado">
        <td>{{juego.juego}} </td>
        <td>{{juego.jugador}} </td> 
        <td>{{juego.gano}} </td> 
        </tr>
    </tbody>
</table>