<mat-toolbar style="background-color: rgb(54, 0, 54); color:white;">
  Piedra Papel o Tijera
  </mat-toolbar>
  
  <div class="content" >
    <mat-card>
        <mat-card-content> 
          <div class="content1">
                  <h2>  Jugador</h2>
            <button mat-fab color="primary" id ="buttonPlayer" class="score" >{{ scores[0] }}</button>
            </div>
          <h3 > Seleccione: </h3>
         <div  class="content2">
           <i (click)="pick(0)"  [ngClass]="{'selectedWeapon':(playerSelected === 0)}" class="fa fa-hand-rock-o"></i>
           <i (click)="pick(1)" [ngClass]="{'selectedWeapon':(playerSelected === 1)}"  class="fa fa-hand-paper-o"></i>
            <i (click)="pick(2)" [ngClass]="{'selectedWeapon':(playerSelected === 2)}"  class="fa fa-hand-scissors-o"></i>
           </div>
        </mat-card-content>   
    </mat-card>
    <mat-card>
      <mat-card-content id="borderMaquina"> 
          <div class="content1">
                  <h2>  Maquina</h2>
            <button mat-fab color="accent" id ="buttonPC" class="score">{{ scores[1] }}</button>
  
            </div>
            <br><br>
         
        <div *ngIf="enemySelected !== -1" class="flex-container flex-center" >
           <i *ngIf="enemySelected === 0" class="fa fa-hand-rock-o"></i>
           <i *ngIf="enemySelected === 1"  class="fa fa-hand-paper-o"></i>
            <i *ngIf="enemySelected === 2" class="fa fa-hand-scissors-o"></i>           
           </div>
      </mat-card-content>
    </mat-card>
    
  </div>



  <div *ngIf="!loading && isResultShow" class="flex-container flex-center" style="flex-direction: column">
      <div [ngSwitch]="theResult">
    <ng-template [ngSwitchCase]= "0"> <h1> Ganaste! </h1></ng-template>
    <ng-template [ngSwitchCase]= "1"> <h1> Perdiste. </h1> </ng-template>
    <ng-template [ngSwitchCase]= "2"> <h1>Empate </h1> </ng-template>
    <ng-template ngSwitchDefault> </ng-template>
  </div> 
      <p> Seleccione otra vez para continuar o </p>
      <button  (click)="reset()" mat-raised-button  id="reinicio"> Reinicie la puntuacion</button>
  </div>
  
  <div class="flex-container flex-center" *ngIf="loading">
  <mat-spinner></mat-spinner>
    </div>
  
  
  